*{
    padding: 0px 0px;
    background-color: rgb(0, 0, 0);
    /* background:linear-gradient(#050760,#050760) ; */
    /* background-color: linear-gradient(90°,rgb(207, 182, 182),rgb(182, 182, 182)); */
    color: white;
}

body{
    height: 100%;
    width: 100%;
}

#navbarSupportedContent ul li a, .title-site a{
    color:white;
}

.connect li a {
    border: 1px solid rgba(160, 151, 151, 0.644);
    margin: 0 5px;
    border-radius: 12px;
    padding: 5px 6px;
}

.connect li a:hover {
    color: white;
    background-color: rgb(219, 83, 20);
    border: none;
}

.landing,.landing-2{
    height: 100vh;
    justify-content: center;
    padding:0 20px;
}

.landing {
    display: flex;
    flex-direction: column;
}

.landing-sec-1{
    font-weight: bold;
    line-height: 1.5em ;
    font-size: 50px ;
}

.landing-sec-2{
    width: 50%;
    opacity: 0.8;
}

.button{
    margin-top: 10px;
}

.first-section p{
    font-weight: bolder;
    line-height: 1.5em ;
    font-size: 50px ;
    width:45%;
    opacity: 0.6;
}

.second-section{
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    width:100%;
    opacity: 0.7;
    line-height: 2;
}

.second-section p {
    width:75%;
    text-align: justify;
}